<h2 class="content-block">Projects</h2>

<dx-data-grid
    keyExpr="id"
    [dataSource]="projects"
    [allowColumnReordering]="true"
    [columnAutoWidth]="true"
    [showBorders]="true"
    [columnHidingEnabled]="true"
    [hoverStateEnabled]="true"
    (onRowInserting)="onProjectRowChanged($event, 'add')"
    (onRowUpdating)="onProjectRowChanged($event, 'update')"
    (onRowRemoving)="onProjectRowChanged($event, 'delete')"
    (onRowClick)="onRowClicked($event)"
>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-pager
        [showPageSizeSelector]="true"
        [showInfo]="true"
    ></dxo-pager>
    <dxo-editing
        mode="row"
        [allowDeleting]="true"
        [confirmDelete]="true"
    >
    </dxo-editing>

    <dxi-column dataField="name">
    </dxi-column>
    <dxi-column dataField="description">
    </dxi-column>
</dx-data-grid>